<div class="section4">
  <h1>About This Site</h1>
  <h2>Behind The Scenes</h2>
  <p>This site is on the cloud! This website was built by using a powerful and popular framework
    which provides the responsive and attractive interface that you see on your screen.
    Additionally, it is running on a software stack that provides a back-end, or a database, for all
    of your datas storage needs. Finally, the underlying technologies used in this site allow for
    powerful processing to occur, while providing the flexability to integrate with
    some of the most widly used third party services!</p>
  <h2>What It All Means</h2>
  <p>
    Essentially this all boils down to speed, power, and utility. Lets start with the software stack.
    This is the secret weapon to this sites speed and responsiveness. Old, dated, and tired websites are
    built with some combination of plain html and css. This results in the need for multiple rounds
    of communication between your computer and a server computer. This translates into slow page load
    time, a problem that is not present on this site. An additional boon of the software is a wide
    array of asthetics to choose from. Now lets talk about the back end, or the database! This
    facilitates the real power of the website, storing your important data! Weather you need to store
    contact information, or maintain a database full of merchandise, a database is almost always needed!
    Last and definitly not lease is utility! This aspect is two fold, first in the use of the cloud and
    then in the flexability to integrate third party applications. The cloud comes with a wide array of
    features. Most notably it allows for us to centalize our server and site maintinence, provides
    advanced server security, easy database hosting, affordable pricing, and access to a large network
    of prodessional third party support. As for flexability you may be wondering what third party apps
    I keep reffering to. There are a large number of tools that can be added into a website that can
    offer additional protection such as recaptcha check boxes to ward off bots, to analytical tools so
    that you can monitor your monthly traffic.
  </p>

  <p>A modern web page is essential to any flourishing business.</p>
</div>

<div class="section2">
  <h2>
    Experience
    (the professional, the programmer, the human)
    The Professional, The Programmer, The Pupil, The Person
    The Professional, The Engineer, The Academic, The Human
  </h2>
  <p>
    hello
  </p>
</div>
<div class="section3">
  <h2>
    Interests
  </h2>
  <p>
    hello
  </p>
</div>
<div class="section4">
  <h2>
    Reccomendations
  </h2>
  <p>
    hello
  </p>
  <img class="portrate" src="../../../assets/Images/Bicycle Coloring template 1.jpg" />
  <p class="section2">welcome to the home page</p>


</div>