<head>
  document.getElementById("sidenav").style.visibility = "hidden";

</head>
<section class="conainer-fluid border border-danger px-0">
  <div class="jumbotron fullcontainer p-0">

    <!-- this below div sets up a flex grid that will be used to place things inside of the jumbotron -->
    <!-- <div class="d-flex flex-column col-lg-12 border border-dark justify-content-center"> -->


    <div class="row one align-content-center justify-content-center">
      <h1 class="border border-dark">My goal is to create highly engineered websites
        to
        better promote your business!</h1>
    </div>

    <div class="two mb-0">
      <h2 class="border border-info text-center bg-light m-0">


        <a routerLink="/about" routerLinkActive="true">Welcome! Click here to begin!</a>

      </h2>
      <!-- <p class="align-content-center d-flex">I am here to make great websites for you and your business. More so I
                                  will
                                  strive to demysitifythe process and make sure you are
                                  comfortable with advancing the professional appeal of your business, personal portfoloio, or online project!
                                </p> -->

    </div>
  </div>
</section>



<!-- </div> -->







<!-- <h3>Also change this page to be more of a site map of the webpage, save the about me info for the about page, and
      change the about page away from what it is now to an about me page. or have it do both with a cool split animation.
  
  
    </h3> -->
<!-- <p>The aim of this page is to offer some supplemental information about me.
      The majority of which can be found on the home page just below! The about page will actuall tell
      you a little about how this page was made, in a technical and a non technical manner.
      Additionally, you can see some current, past, and potential projects of mine on the project tab.
      That just leaves the contact tab if you feel inspired to reach out. Happy browsing and be sure
      to visit my linked in and github sit linked in the header and footer of each page!</p> -->


<!-- </div> -->
<!-- </div> -->
<!-- <div class="maincontent"> -->
<!-- <div class="section1 d-flex flex-column">
  <h2 class="align-content-center">Welcome!</h2>
  <p class="align-content-center">I am here to make great websites for you and your business. More so I will strive to
    demysitify
    the process and make sure you are comfortable with advancing the professional appeal of your
    business, personal portfoloio, or online project!
  </p>




  <h3>Also change this page to be more of a site map of the webpage, save the about me info for the about page, and
    change the about page away from what it is now to an about me page. or have it do both with a cool split animation.


  </h3> 
   <p>The aim of this page is to offer some supplemental information about me.
    The majority of which can be found on the home page just below! The about page will actuall tell
    you a little about how this page was made, in a technical and a non technical manner.
    Additionally, you can see some current, past, and potential projects of mine on the project tab.
    That just leaves the contact tab if you feel inspired to reach out. Happy browsing and be sure
    to visit my linked in and github sit linked in the header and footer of each page!</p>


</div>

 <div class="section2 d-flex flex-column justify-content-center">
  <h2 class="align-self-start justify-content-center border border-dark">What I Do
    I need to increase the size of each section (min height) to be 100% and add advanced scroll functionality
    that will allow user to browse with the keyboard one click up or down goes to the next section left
    and right will go to and from links (home to about etc.)
  </h2>

  <p class="flex-column align-self-center">Youre probably wondering what it is I do and why youre here on this page?
    Check it all
    out (insert Link)
  </p>

  <div class="row flex-row-md justify-content-around m-1">
    <div class="card col-lg-2 col-md-6 col-sm-8">
      <p>Web Dev(link to a section that covers the softwares I use and why they matter</p>

    </div>
    <div class="card col-lg-2 col-md-6 col-sm-8">
      <p>Research(this can be a fun area where i can make suggest cool tech things or readings)</p>
    </div>
    <div class="card col-lg-2 col-md-6 col-sm-8">
      <p>Software Design(this is an area to showcase my eye for detail and professional workflow)</p>
    </div>
    <div class="card col-lg-2 col-md-6 col-sm-8">
      <p>Database Building(an extra tid bit thrown in to assure people that i do way more than frontend address
        application and tools such as js etc </p>
    </div>
  </div>
</div>


<div class="section1">
  <h2>Figure Me Out</h2>
  <p>This is where I get to show you who you are working with. No acts, no gimicks, just a man with a keyboard!(insert
    link)
  </p>
  <ul>
    <div class="row">

      <div class="card col-lg-3 col-md-6 col-sm-8">
        <li>The Bike Project</li>

      </div>
      <div class="card col-lg-3 col-md-6 col-sm-8">
        <li>Staying Healthy</li>

      </div>
      <div class="card col-lg-3 col-md-6 col-sm-8">
        <li>Home Sewardship</li>

      </div>
      <div class="card col-lg-3 col-md-6 col-sm-8">
        <li>Pets</li>

      </div>
    </div>

  </ul>

</div>
<div class="section2">
  <h2>Get In Touch</h2>
  <div class="row">
    <div class="col align-self-start"></div>
    <div class="card col-lg-4 col-md-4 col-sm-4 align-self-center">
      <p>Seen enough? Spring into action here(insert link)
      </p>

    </div>
    <div class="col align-self-end"></div>

  </div>
</div>  -->
<!-- </div> -->