

.navcontainer{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    width:100%;
    border:solid;
    z-index: 1;
    background-color: #2D3142;
    
}
p{
    font-size: 24px;
}
a{
    display:block;
    padding:8px;
    background-color: gainsboro;
}
.section1{
    text-decoration-color: rbg(255,255,255);
    width:100%;
    height:100vh;
    position: relative;
    height:25%;
    display:block;
    padding:30px;
    margin: 2px auto;
    background-color: rgb(255, 255,255);
}

.section2{
 height:25%;
 width:100%;
 display:block;
 padding:30px;
 margin: 2px auto;
 background-color: rgb(93, 139, 191);
}
.section1 p{
   
    /* padding-bottom: 25px; */
        
}
.section2 p{
   
 color:rgb(8, 8, 8); 
        
}
.section2 h2{
 color: #ffffff;
}

p{
    max-width: 700px;
    margin: 2px auto;
    font-size: 20px;
    padding-bottom: 25px;
}

li a:hover{
    background-color:#ffffff;
}


.contentcontainer{
    position: absolute;
    border:solid;
    width: 100%;
    height: auto;
    min-height: 100%;
    background-color: #2D3142;
    left:0;
    padding-bottom: 50px;
    /* top:38px; */
}


.mainContent{
    display:block;
}

.footerContainer{
    width:100%;
    border-top:solid;
    position: absolute;
    border-top-color: silver;
    border-top-width: 2px; 
    bottom:0;
    left:0;
    z-index: 1;
    background-color: #2D3142;
    font-size: 10px;
    padding-top:10px;
    margin-top: 50px;
}
.footerContainer p{
    font-size: 10px;
    color: silver;

}
.footerContent{
    color: silver;
    font-size: 10px;
}
