<!--The content below is only a placeholder and can be replaced.-->

<div class="pos-f-t">

  <div class="" id="mobile-navbar">

  </div>

  <div class="sidenav">
    <!-- <nav class="navbar-nav navbar-dark bg-dark fixed-top">

      <div class="container">
        <div class="navbar-header">

          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#mobile-navbar"
            aria-controls="mobile-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


          <div class="navbar-brand">Hello</div>
        </div>

        <ul class="nav navbar-nav navbar-expand-sm">
          <li>
            <a routerLink="/home" routerLinkActive="true">Home</a>
          </li>
          <li>
            <a routerLink="/about" routerLinkActive="true">About</a>
          </li>
          <li>
            <a routerLink="/projects" routerLinkActive="true">Projects</a>
          </li>
          <li>
            <a routerLink="/contact" routerLinkActive="true">Contact</a>
          </li>
        </ul>


      </div>
      <div class="navbar-right">Right</div>
    </nav> -->
  </div>

</div>



<div class="contentcontainer">

  <body class="mainContent">
    <router-outlet></router-outlet>
  </body>

  <footer class="modal-footer">
    <h3 class="footerContent">Footer content</h3>

    <div>
      <p>Icons made by https://www.flaticon.com/authors/freepik Freepik from https://www.flaticon.com/
        www.flaticon.com is licensed by http://creativecommons.org/licenses/by/3.0/
        Creative Commons BY 3.0 CC 3.0 BY</p>
    </div>

  </footer>
</div>